@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    background-color: #f8f8ff;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: oswald, sans-serif;   
}

h2 {
    font-size: 1.7rem;
}

p, a, label {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1;
}

/* Header section - Logo */

header {
    background: #CCE0E0;
}

.logo-row {
    display: flex;
    padding: 15px 40px;
    justify-content: space-around;
}

.logo {
    text-transform: uppercase;
    color: #000000;
    font-size: 250%;
    text-align: center;
}

.logo-row a {
    text-decoration: none;
}

/* Header Section - Navigation bar */

.nav-row {
    display: flex;
    justify-content: space-around;
    list-style-type: none;  
    align-items: center;
    text-transform: uppercase;
    padding: 15px 0;
}

.nav-row a {
    transition: 0.3s ease;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
  }

  .nav-row .active {

      border-bottom: 3px solid #ffffff;
  }

  .nav-row a:hover {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 5px 0; 
  }

/* Welcome image section */

.welcome-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.welcome-container img {
    width: 95%;
    height: auto;
    opacity: 0.9;
    margin: 30px auto 0;
    border-radius: 30px;
}

/* About section */

.about-row {
    background: #CCE0E0;
    color: black;
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px 15px 0;
}

.about-row h2 {
    padding-top: 15px;
}

.about-row p {
    padding: 15px 10px;
}

/* History section */

.history-row {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-direction: column;
}

.history-col {
    margin: 30px 0;
    padding: 0 15px;
}

.history-col p {
    padding-top: 20px;
}

/* Services intro section */

.services-row {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    text-align: center;
    flex-direction: column;
}

.col-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    align-items: center;
}

.services-row p {
    padding: 10px 0;
}

.col-service img {
    max-width: 100%;
    max-height: 350px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid rgb(0, 0, 0);
    margin: 5px 15px;
}

.button{
    background: #CCE0E0;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 1px 2px 2px #000000;
    text-decoration: none;
    color: #000000;
}

.button:hover {
    background: #08415c;
    color: #ffffff;
}

/* Reviews section */

.reviews-row {
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 10px 5%;
}

.reviews-row p {
    font-size: 14px;
}

.reviews-row i {
    color: #FFD700;
    margin-bottom: 30px;
    margin-top: 5px;
}

/* Footer */

footer {
    margin-top: auto;
    bottom: 0;
    position: relative;
    background: #696969
}

.footer-row-1 {
    text-align: center;
    background: #696969;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact-col {
    margin:auto;
}

.footer-row-1 p {
    color: #ffffff;
    line-height: 1.4rem;
    margin: 10px 0;
}

.map-col iframe {
    max-width:  270px;
    height: auto;
}

.footer-row-2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.map-col {
    margin: auto;
    padding: 15px 0;
}

.footer-row-2 i {
    font-size: 2rem;
    padding: 0 30px;
    color: #ffffff;
    margin: 10px 0;
}

/* Services page - Public Section  */

.services-page{
    margin: 0 5%;
}

.public-row {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.public-col-1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.public-col-2 {
    margin: 10px 10px;
    text-align: center;
}

.public-col-2 h3 {
    padding-top: 10px;
}

.public-col-2 p {
    padding-top: 5px;
}

/* Private Section */

.private-row {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.private-col-1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.private-col-2 {
    margin: 10px 10px;
    text-align: center;
}

.private-col-2 h3 {
    padding-top: 10px;
}

.private-col-2 p {
    padding-top: 5px;
}

/* Self-Hire Section */

.self-hire-row {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.self-hire-col-1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.self-hire-col-2 {
    margin: 10px 10px;
    text-align: center;
}

.self-hire-col-2 h3 {
    padding-top: 10px;
}

.self-hire-col-2 p {
    padding-top: 5px;
}

/* Services page - form section */

#form-section {
    background: #CCE0E0;
}

.form-row {
    display: flex;
    justify-content: center;
    margin: 0 5%;
}

.enquiry-title {
    text-align: center;
    margin: 0 13%;
}

.enquiry-title h2 {
    padding: 12px 0;
}

.enquiry-title p {
    font-size: 15px;
}

.details-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
}

.input-area {
    width: 300px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 6px 12px;
    margin-top: 6px;
    margin-bottom: 16px;
}

.comment-area {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    padding: 6px 12px;
    border: 1px solid black;
}

.enquiry-button{
    background: #1A659E;
    padding: 6px 12px;
    border-radius: 15px;
    border: 1px solid #000000;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
}

.enquiry-button:hover {
    background: #2286D3;
}

/* Gallery page */

.image-grid {
    line-height: 0;
    column-count: 1;
    gap: 0;
    margin: 20px 10px;
}
  
.grid-image {
    width: 100%;
    height: auto;
    padding: 5px;
}

/* Thank you response page. */

.thanks-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.thanks-col-1 h2 {
    font: 1.7rem;
    padding: 10px 0;
}

.thanks-col-1 p {
    padding: 0 15px;
}

.socials-col {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.socials-col i {
    font-size: 1.7rem;
    color: #000000;
    margin: 20px 30px;
}

/* Media queries for screen size 600px and up */

@media screen and (min-width: 600px){

    .welcome-container {
        margin: auto 6%;
    }

    .about-row {
        margin: 30px 8%;
    }

    .history-row {
        margin: 0 8%;
    }
    
    .services-row {
        margin: 0 10%;
    }

    .col-service {
        margin: 10px 5px;  
    }

    .reviews-row {
        margin: 15px 10%;
    }

    .services-page{
        margin: 0 10%;
    }

    .public-col-1 img {
        max-width: 100%;
        height: auto;
    }

    .private-col-1 img {
        max-width: 100%;
        height: auto;
    }

    .self-hire-col-1 img {
        max-width: 100%;
        height: auto;
    }
    
    .enquiry-title {
        margin: 0 15%;
    }

    .enquiry-title p {
        font-size: 16px;
    }

    .image-grid {
        column-count: 2;
    }

    .thanks-row {
        align-self: center;
        margin: 50px;
    }

    .footer-row-1 {
        flex-direction: row;
    }

    .input-area {
        width: 100%;
    }
    
    .comment-area {
        width: 400px;
        height: 150px;
    }
}

/* Media queries for screen size 768px and up  */

@media screen and (min-width: 768px) {

    .welcome-container {
        margin: 0 4%;
    }

    .about-row {
        margin: 30px 5%;
    }

    .history-row {
        flex-direction: row;
        margin: 0 5%;
    }

    .history-col {
        width: 50%;
    }

    .services-row {
        flex-direction: row;
        margin: 0 5%;
    }

    .services-row img {
        max-width: 100%;
        height: auto;
    }

    .col-service {
        margin: 10px 5px;
    }

    .public-row, .private-row, .self-hire-row {
        flex-direction: row;
        
        align-items: flex-start;
    }

    .services-page{
        margin: 0 5%;
    }

    .public-col-1 {
        width: 50%;
        align-items: center;
    }

    .public-col-2 {
        margin: 10px 10px;
        width: 50%;
        text-align: left;
    }

    .private-col-1 {
        width: 50%;
    }

    .private-col-2 {
        margin: 10px 10px;
        width: 50%;
        text-align: left;
    }

    .self-hire-col-1 {
        width: 50%;
    }
    
    .self-hire-col-2 {
        margin: 10px 10px;
        width: 50%;
        text-align: left;
    }

    .image-grid {
        column-count: 3;
        margin: 15px 5%;
    }
}

/* Media queries for screen size 992px and up */

@media screen and (min-width: 992px) {
    
    h2 {
        font-size: 1.8rem;
    }
     
    h3 {
        font-size: 1.3rem;
    }

    p, a, label {
        font-size: 17px;
    }

    .welcome-container {
        margin: 0 8%;
    }

    .about-row {
        margin: 30px 10%;
    }

    .history-row {
        margin: 0 10%;
    }

    .services-row {
        margin: 0 10%;
    }
    
    .services-page{
        margin: 0 10%;
    }

    .enquiry-title {
        margin: 0 20%;
    }

    .image-grid {
        column-count: 3;
        margin: 15px 10%;
    }
}

/* Media queries for screen size 1200px and up  */

@media screen and (min-width:1200px) {
    
    .nav-row {
        margin: 0 10%;
    }

    .welcome-container {
        margin: 0 12%;
    }

    .about-row {
        margin: 30px 14%;
    }

    .history-row {
        margin: 0 14%;
    }

    .services-row {
        margin: 0 14%;
    }

    .services-page {
        margin: 10px 14%;
    }

    .image-grid {
        margin: 15px 15%;
    }
}
