
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    background-color: #f8f8ff;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: oswald, sans-serif;
}

p, a, label {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* Header section - Logo */

header {
    background: #CCE0E0;
}

.logo-row {
    display: flex;
    padding: 15px 0;
    justify-content: space-around;
}

.logo {
    text-transform: uppercase;
    color: #000000;
    font-size: 250%;
    text-align: center;
}

.logo-row a {
    text-decoration: none;
}

/* Header Section - Navigation bar */

.nav-row {
    display: flex;
    justify-content: space-around;
    list-style-type: none;  
    align-items: center;
    text-transform: uppercase;
    padding: 15px 0;
}

.nav-row a {
    transition: 0.3s ease;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
  }

  .nav-row a:hover {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 5px 0; 
  }

/* Welcome image section */

.welcome-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.welcome-container img {
    width: 95%;
    height: auto;
    opacity: 0.9;
    margin: 30px auto 0;
    border-radius: 30px;
}

/* About section */

.about-row {
    background: #CCE0E0;
    color: black;
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px 15px;
}

.about-row h2 {
    padding-top: 15px;
    font-size: 1.7rem;
}

.about-row p {
    padding: 15px 10px;
}

/* History section */

.history-row {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-direction: column;
}

.history-col {
    margin: 30px 0;
    padding: 0 15px;
}

.history-col h2 {
    font-size: 1.7rem;
}

.history-col p {
    padding-top: 20px;
}

/* Services intro section */

.services-row {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    text-align: center;
    flex-direction: column;
}

.col-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    align-items: center;
}

.services-row h2 {
    font-size: 1.7rem;
}

.services-row p {
    padding: 10px 0;
}

.col-service img {
    max-width: 100%;
    max-height: 350px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid rgb(0, 0, 0);
    margin: 5px 15px;
}

.button{
    background: #CCE0E0;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 1px 2px 2px black;
    text-decoration: none;
    color: black;
}

.button:hover {
    background: #08415c;
    color: white;
}

/* Reviews section */

#reviews {
    margin: 20px 5%;
}
.reviews-row {
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.reviews-row p {
    font-size: 14px;
}

.reviews-row i {
    color:gold;
    margin-bottom: 30px;
    margin-top: 5px;
}

/* Footer */

footer {
    margin-top: auto;
}

.footer-row-1 {
    text-align: center;
    background: #696969;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact-col {
    margin:auto;
}

.footer-row-1 p {
    color: #ffffff;
    line-height: 1.4rem;
    margin: 10px 0;
}

.footer-row-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    background: #696969;
}

.map-col {
    margin: auto;
    padding: 15px 0;
}

.footer-row-2 i {
    font-size: 2rem;
    padding: 0 30px;
    color: #ffffff;
    margin: 10px 0;
}

/* services page */

/* Public Section  */

.services-page{
    margin: 0 5%;
}

.public-row {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.public-col-1 img {
    width: 100%;
    max-height: auto;
    border-radius: 15px;
}

.public-col-2 {
    margin: 10px 10px;
    text-align: center;
}

.public-col-2 h3 {
    padding-top: 10px;
}

.public-col-2 p {
    padding-top: 5px;
}

/* Private Section */

.private-row {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.private-col-1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.private-col-2 {
    margin: 10px 10px;
    text-align: center;
}

.private-col-2 h3 {
    padding-top: 10px;
}

.private-col-2 p {
    padding-top: 5px;
}

/* Self-Hire Section */

.self-hire-row {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.self-hire-col-1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.self-hire-col-2 {
    margin: 10px 10px;
    text-align: center;
}

.self-hire-col-2 h3 {
    padding-top: 10px;
}

.self-hire-col-2 p {
    padding-top: 5px;
}
